# Application
captum
Jinja2
matplotlib
ncps 
opencv-python
pydantic
pynput
PyYaml
scikit-learn
torch 
torchaudio
torchvision
torchinfo 
vizdoom 
# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]