# Custom Configuration for "Basic" Scenario

doom_map = map01

# Rewards 
living_reward = -1

# Input Space
available_buttons = 
	{ 
		MOVE_LEFT 
		MOVE_RIGHT 
		ATTACK 
	}

# State Space
available_game_variables = { AMMO2 }

# Game Settings
mode = SPECTATOR
doom_skill = 5