============================================================
GOLEM BRAIN AUDIT
============================================================
Module:   {{ module_name }}
Samples:  {{ sample_count }}
------------------------------------------------------------
Exact Sequence Match: {{ "%.1f"|format(exact_acc * 100) }}%
------------------------------------------------------------
ACTION          | PRECISION  | RECALL     | SUPPORT   
------------------------------------------------------------
{% for metric in metrics -%}
{{ "{:<20}".format(metric.name) }} | {{ "{:.1%}".format(metric.precision) }}      | {{ "{:.1%}".format(metric.recall) }}      | {{ "{:<10}".format(metric.support) }}
{% endfor %}
============================================================